-e .
hiveplot==2017.10.17.21.7
ipykernel==6.29.5
jupyter==1.1.1
matplotlib==3.10.0
mkdocs-material==9.5.50
mkdocs==1.6.1
git+https://github.com/greenape/mknotebooks.git
nbconvert==7.16.5
networkx==3.4.2
numpy==2.2.2
nxviz==0.7.4
pandas==2.2.3
pyjanitor==0.30.0
pymdown-extensions==10.14.1
pyprojroot==0.3.0
python-louvain==0.16
scipy==1.15.1
tqdm==4.66.1
