-e .
hiveplot==2017.10.17.21.7
ipykernel==6.20.1
jupyter==1.0.0
matplotlib==3.6.2
mkdocs-material==9.0.3
mkdocs==1.4.2
git+https://github.com/greenape/mknotebooks.git
nbconvert==7.2.7
networkx==3.0
numpy==1.24.1
nxviz==0.7.4
pandas==1.5.2
pyjanitor==0.24.0
pymdown-extensions==9.9
pyprojroot==0.2.0
python-louvain==0.16
scipy==1.9.1
tqdm==4.64.0
